* {
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
 }
 body {
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
 }
 a, a:visited {
  color:#fff;
 }

 h1, h2, p {
 	text-align: center;
 }

 .formatacao_cor_verde {
  color: #13605A;
 }
 .formatacao_cor_branco {
  color: #FFFFFF;
 }
/* FORMATAÇÃO DO MENU */
header {
  padding: 25px;
  background: black;
}


nav {
  background:#13605A;
  width:100%;
  height:100px;
 }
 nav ul li {
  display:inline-block;
 }
 nav ul li a {
  display:block;
  padding:38px 20px;
  transition: all 0.6s ease;
 }
 nav ul li a:hover {
  background:#0B4A46;
 }
 .titulo-blog, .titulo-blog:visited {
  color:#FBB829;
  font-weight:600;
  text-transform:uppercase;
 }
 a.titulo-blog:hover {
  background:none;
  color:#FBB829;
 }

/* formatacao img */
.quadro_img {
  width: 350px;
  height: 350px;
  border: 10px solid #FBB829;
  border-radius: 20px;
}

.formatacao_img {
  display: flex;
  justify-content: center;
  background: #fbb829;
}

/* formatacao da lista*/
.lista_conteudo {
    padding: 130px;
}

/* rodapé do site */
footer {
  background: black;
  padding: 30px;
}